version: '3.8'

services:
  blog-api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '8080:8080'
    env_file:
      - ./.env.prod
    depends_on:
      - postgres_db
    networks:
      - app_network

  postgres_db:
    image: postgres:15-alpine
    ports:
      - '5432:5432'
    env_file:
      - ./.env.prod
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres -d blog']
      interval: 1s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:

networks:
  app_network:
    driver: bridge
