version: '3.8'

services:
  expense-api:
    image: riobaian/expense-tracker-api
    container_name: expense-tracker-api-prod
    ports:
      - '8080:8080'
    environment:
      GOOSE_DBSTRING: ${GOOSE_DBSTRING}
    entrypoint: ['./docker-entrypoint.sh']
    command: ['/app/bin/api']
    networks:
      - app_network
    restart: unless-stopped
    healthcheck:
      test:
        [
          'CMD',
          'wget',
          '--quiet',
          '--tries=1',
          '--spider',
          'http://localhost:8080/',
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    logging:
      driver: 'json-file'
      options:
        max-size: '10m'
        max-file: '3'

networks:
  app_network:
    driver: bridge
