version: '3.8'

services:
  migrations:
    image: golang:1.24-alpine
    working_dir: /app
    volumes:
      - ./db/migrations:/app/migrations
    environment:
      - GOOSE_DRIVER=postgres
      - GOOSE_DBSTRING=${GOOSE_DBSTRING}
    depends_on:
      postgres_db:
        condition: service_healthy
    networks:
      - app_network
    command: >
      sh -c "
        apk add --no-cache git &&
        go install github.com/pressly/goose/v3/cmd/goose@latest &&
        goose -dir ./migrations postgres $$GOOSE_DBSTRING up
      "
    restart: 'no'

  expense-api:
    image: riobaian/blog:latest
    container_name: blog-api-prod
    ports:
      - '8080:8080'
    environment:
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
    depends_on:
      postgres_db:
        condition: service_healthy
      migrations:
        condition: service_completed_successfully
    networks:
      - app_network
    restart: unless-stopped
    healthcheck:
      test:
        [
          'CMD',
          'wget',
          '--quiet',
          '--tries=1',
          '--spider',
          'http://localhost:8080/',
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    logging:
      driver: 'json-file'
      options:
        max-size: '10m'
        max-file: '3'

networks:
  app_network:
    driver: bridge
