services:
  expense-api:
    image: riobaian/expense-tracker-api:v0.2
    container_name: expense-tracker-api-prod
    ports:
      - '8081:8081'
    environment:
      DB_HOST: ${DB_HOST}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      GOOSE_DBSTRING: postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:5432/${DB_NAME}?sslmode=disable
    entrypoint: ['/bin/sh', '-c']
    command:
      - |
        echo "Waiting for database to be ready..."
        sleep 5
        echo "Running database migrations with Goose..."
        goose -version
        echo "Using connection string: $$GOOSE_DBSTRING"
        goose -dir /app/db/migrations up
        echo "Migrations applied."
        echo "Starting application..."
        exec /app/bin/api
    networks:
      - app_network
    restart: unless-stopped
    healthcheck:
      test:
        [
          'CMD',
          'wget',
          '--quiet',
          '--tries=1',
          '--spider',
          'http://0.0.0.0:8081/',
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    logging:
      driver: 'json-file'
      options:
        max-size: '10m'
        max-file: '3'

networks:
  app_network:
    driver: bridge
