version: '3.8'

services:
  migrations:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - ./.env.prod
    environment:
      GOOSE_DRIVER: postgres
      GOOSE_DBSTRING: ${GOOSE_DBSTRING}
    depends_on:
      postgres_db:
        condition: service_healthy
    networks:
      - app_network
    volumes:
      - ./db/migrations:/app/migrations

  postgres_db:
    image: postgres:15-alpine
    ports:
      - '5432:5432'
    env_file:
      - ./.env.prod
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${DB_USER} -d ${DB_NAME}']
      interval: 1s
      timeout: 5s
      retries: 5

  expense-api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '8080:8080'
    env_file:
      - ./.env.prod
    depends_on:
      postgres_db:
        condition: service_healthy
      migrations:
        condition: service_completed_successfully
    networks:
      - app_network

volumes:
  postgres_data:

networks:
  app_network:
    driver: bridge
