version: '3.8'

services:
  expense-api:
    image: riobaian/expense-tracker-api
    container_name: expense-tracker-api-prod
    ports:
      - '8080:8080'
    environment:
      GOOSE_DBSTRING: postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:5432/${DB_NAME}?sslmode=disable
    entrypoint: ['/bin/sh', '-c']
    command:
      - |
        echo "Waiting for database to be ready..."
        sleep 5
        export GOOSE_DRIVER=postgres
        echo "Running database migrations with Goose..."
        goose -version
        echo "Using connection string: $$GOOSE_DBSTRING"
        goose status
        goose up
        echo "Migrations applied."
        echo "Starting application..."
        exec /app/bin/api
    networks:
      - app_network
    restart: unless-stopped
    healthcheck:
      test:
        [
          'CMD',
          'wget',
          '--quiet',
          '--tries=1',
          '--spider',
          'http://localhost:8080/',
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    logging:
      driver: 'json-file'
      options:
        max-size: '10m'
        max-file: '3'

networks:
  app_network:
    driver: bridge
