name: Monorepo CI

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      number-guessing: ${{ steps.changes.outputs.number-guessing }}
      weather-api: ${{ steps.changes.outputs.weather-api }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            number-guessing:
              - 'go-number-guessing/**'
            weather-api:
              - 'weather-api-service/**'

  build-number-guessing:
    needs: detect-changes
    if: ${{ needs.detect-changes.outputs.number-guessing == 'true' }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./go-number-guessing

    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.23'
      - name: Build
        run: go build -o guess-game
      # - name: Test
      #   run: go test -v ./...

  build-weather-api:
    needs: detect-changes
    if: ${{ needs.detect-changes.outputs.weather-api == 'true' }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./weather-api-service

    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.23'
      - name: Build
        run: go build -o weather-api
      # - name: Test
      #   run: go test -v ./...
  build-blog-api:
    needs: detect-changes
    if: ${{ needs.detect-changes.outputs.blog-api == 'true' }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./blog-api

    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.23'
      - name: Build
        run: go build -o blog-api
      # - name: Test
      #   run: go test -v ./...
      #
  expense-api:
    needs: detect-changes
    if: ${{ needs.detect-changes.outputs.expense-api == 'true' }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./expense-api

    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.23'
      - name: Build
        run: go build -o expense-api
      # - name: Test
      #   run: go test -v ./...

  build-all:
    needs: detect-changes
    if: ${{ needs.detect-changes.outputs.number-guessing == 'true' || needs.detect-changes.outputs.weather-api == 'true' || needs.detect-changes.outputs.blog-api == 'true' || needs.detect-changes.outputs.blog-api == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.23'
      - name: Build workspace
        run: |
          go work sync
          mkdir -p build
          go build -o build/guess-game ./go-number-guessing
          go build -o build/weather-api ./weather-api-service
          go build -o build/blog-api ./blog-api
          go build -o build/expense-api ./expense-api
